# Binaries
Build/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Assets
Assets/Startup/**
!Assets/Startup/README.md
!Assets/Startup/Startup.ini

# Designs
Design/EditorConcepts/**
Design/StartupConcepts/*
Design/Checkpoints/*

# Scenes
**.nyxscene
