# Binaries
Build/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Assets
Assets/Startup/**
!Assets/Startup/README.md
!Assets/Startup/Startup.ini

# Designs
Design/EditorConcepts/**
Design/StartupConcepts/*
Design/Checkpoints/*
Design/*.md

# Editor
Editor/*.md

# Scenes
**.nyxscene
!Assets/Scenes/Default.nyxscene

# Editor link recordings
**.nyxlinklog
